@tailwind base;
@import-normalize;
@tailwind components;
@tailwind utilities;

-webkit-text-size-adjust: 100%;
tab-size: 4;
font-feature-settings: normal;
font-variation-settings: normal;
-webkit-tap-highlight-color: transparent;
--mobile-header-nav-height: 3.875rem;
--root-font-size-px: 16;
--spacing-responsive-xl-4: 0.5rem;
--spacing-responsive-xl-8: 0.5rem;
--spacing-responsive-xl-12: 0.5rem;
--spacing-responsive-xl-16: 0.5rem;
--spacing-responsive-xl-24: 1rem;
--mobile-header-cta-height: 0rem;
--spacing-responsive-xl-28: 1.25rem;
--spacing-responsive-xl-32: 1.5rem;
--spacing-responsive-xl-36: 1.75rem;
--spacing-responsive-xl-40: 2rem;
--spacing-responsive-xl-42: 2.25rem;
--spacing-responsive-xl-48: 2.5rem;
--spacing-responsive-xl-60: 2.5rem;
--spacing-responsive-xl-64: 2.5rem;
--spacing-responsive-xl-80: 4rem;
--spacing-responsive-xl-96: 5rem;
--spacing-responsive-xl-100: 6rem;
--spacing-responsive-xl-112: 5rem;
--spacing-responsive-xl-128: 5rem;
--spacing-responsive-xl-160: 5rem;
--spacing-responsive-xl-230: 10rem;
--spacing-responsive-xl-389: 17rem;
-webkit-font-smoothing: antialiased;
line-height: inherit;
font-family: chaparral-pro,Georgia,ui-serif,Cambria,Times New Roman,Times,serif;
--tw-text-opacity: 1;
color: rgb(51 51 51/var(--tw-text-opacity));
--tw-bg-opacity: 1;
box-sizing: border-box;
border: 0 solid #c4c4c4;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,0.5);
--tw-ring-offset-shadow: 0 0 transparent;
--tw-ring-shadow: 0 0 transparent;
--tw-shadow: 0 0 transparent;
--tw-shadow-colored: 0 0 transparent;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
display: block;
vertical-align: middle;
max-width: 100%;
position: absolute;
inset: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
aspect-ratio: 1600 / 1004;






-webkit-text-size-adjust: 100%;
tab-size: 4;
font-feature-settings: normal;
font-variation-settings: normal;
-webkit-tap-highlight-color: transparent;
--mobile-header-nav-height: 3.875rem;
--root-font-size-px: 16;
--spacing-responsive-xl-4: 0.5rem;
--spacing-responsive-xl-8: 0.5rem;
--spacing-responsive-xl-12: 0.5rem;
--spacing-responsive-xl-16: 0.5rem;
--spacing-responsive-xl-24: 1rem;
--mobile-header-cta-height: 0rem;
--spacing-responsive-xl-28: 1.25rem;
--spacing-responsive-xl-32: 1.5rem;
--spacing-responsive-xl-36: 1.75rem;
--spacing-responsive-xl-40: 2rem;
--spacing-responsive-xl-42: 2.25rem;
--spacing-responsive-xl-48: 2.5rem;
--spacing-responsive-xl-60: 2.5rem;
--spacing-responsive-xl-64: 2.5rem;
--spacing-responsive-xl-80: 4rem;
--spacing-responsive-xl-96: 5rem;
--spacing-responsive-xl-100: 6rem;
--spacing-responsive-xl-112: 5rem;
--spacing-responsive-xl-128: 5rem;
--spacing-responsive-xl-160: 5rem;
--spacing-responsive-xl-230: 10rem;
--spacing-responsive-xl-389: 17rem;
-webkit-font-smoothing: antialiased;
line-height: inherit;
font-family: chaparral-pro,Georgia,ui-serif,Cambria,Times New Roman,Times,serif;
--tw-text-opacity: 1;
color: rgb(51 51 51/var(--tw-text-opacity));
--tw-bg-opacity: 1;
box-sizing: border-box;
border: 0 solid #c4c4c4;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,0.5);
--tw-ring-offset-shadow: 0 0 transparent;
--tw-ring-shadow: 0 0 transparent;
--tw-shadow: 0 0 transparent;
--tw-shadow-colored: 0 0 transparent;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
display: block;
vertical-align: middle;
max-width: 100%;
position: absolute;
inset: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
aspect-ratio: 1600 / 1004;


-webkit-text-size-adjust: 100%;
tab-size: 4;
font-feature-settings: normal;
font-variation-settings: normal;
-webkit-tap-highlight-color: transparent;
--mobile-header-nav-height: 3.875rem;
--root-font-size-px: 16;
--spacing-responsive-xl-4: 0.5rem;
--spacing-responsive-xl-8: 0.5rem;
--spacing-responsive-xl-12: 0.5rem;
--spacing-responsive-xl-16: 0.5rem;
--spacing-responsive-xl-24: 1rem;
--mobile-header-cta-height: 0rem;
--spacing-responsive-xl-28: 1.25rem;
--spacing-responsive-xl-32: 1.5rem;
--spacing-responsive-xl-36: 1.75rem;
--spacing-responsive-xl-40: 2rem;
--spacing-responsive-xl-42: 2.25rem;
--spacing-responsive-xl-48: 2.5rem;
--spacing-responsive-xl-60: 2.5rem;
--spacing-responsive-xl-64: 2.5rem;
--spacing-responsive-xl-80: 4rem;
--spacing-responsive-xl-96: 5rem;
--spacing-responsive-xl-100: 6rem;
--spacing-responsive-xl-112: 5rem;
--spacing-responsive-xl-128: 5rem;
--spacing-responsive-xl-160: 5rem;
--spacing-responsive-xl-230: 10rem;
--spacing-responsive-xl-389: 17rem;
-webkit-font-smoothing: antialiased;
line-height: inherit;
font-family: chaparral-pro,Georgia,ui-serif,Cambria,Times New Roman,Times,serif;
--tw-text-opacity: 1;
color: rgb(51 51 51/var(--tw-text-opacity));
box-sizing: border-box;
border: 0 solid #c4c4c4;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,0.5);
--tw-ring-offset-shadow: 0 0 transparent;
--tw-ring-shadow: 0 0 transparent;
--tw-shadow: 0 0 transparent;
--tw-shadow-colored: 0 0 transparent;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
position: relative;
overflow: hidden;
--tw-bg-opacity: 1;
background-color: rgb(249 249 249/var(--tw-bg-opacity));
padding-bottom: var(--spacing-responsive-xl-389);
padding-top: var(--spacing-responsive-xl-128);