@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navbar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-400 hover:bg-green-600 dark:bg-gray-800 text-green-500 hover:text-white hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear cursor-pointer shadow-lg;
  }
}

.sidebar-hr {
  @apply bg-gray-200 dark:bg-gray-800 border border-gray-200 dark:border-gray-800 rounded-full mx-2;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
}

.app-container {
  /* padding-top: 80px; */
  padding-left: 350px;
  display: relative;
  flex: table-column
}

/* .grape-name-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 3 / 2 / 5; }
  .div2 { grid-area: 2 / 3 / 4 / 5; }
  .div3 { grid-area: 1 / 6 / 4 / 7; }
  .div4 { grid-area: 4 / 2 / 7 / 6; } */

  #grape-search {
    
  }
  